body{
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree", sans-serif;
    font-weight: 400;
}

#card{
  background-color: white;
  width: 23vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}


/* <style>
      .attribution {
        font-size: 0.6875rem;
        text-align: center;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }
    </style> */